* {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: grid;
    gap: 1.5vh;
    grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
    grid-auto-rows: minmax(20vh, auto);
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
	background: url(libros/img/fondo-ul.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
    margin: 1vh;
}

body::before{
	content:"";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(135deg,navy,lightblue,navy,purple,pink,purple);
	opacity: 0.9;
	z-index: -1;
}

.grid-items{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    border-radius: 1vh;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.2);
}


.iconos {
    border-radius: 1vh;
    width: 19.5vh;
    height: 19.5vh;
}



