* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	height: 100vh;
	font-family: "Raleway";
}
.player {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 480px;
	overflow: hidden;
	border: solid plum 1px;
	border-radius: 5px;
}
.player .main {
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.9);
	transition:all 500ms ease-in-out;
}
.player .main .thumbnail img {
	width: 100%;
}
.player .main .seekbar {
	margin-top: -15px;
}
.player .main .seekbar input[type="range"] {
	-webkit-appearance:none;
	width: 100%;
	height: 4px;
	outline: none;
	background: plum;
	overflow: hidden;
}
.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 0px;
	height: 0px;
	box-shadow: -300px 0px 0px 300px purple;
}
.player .main .details {
	text-align: center;
	padding: 15px 0px;
}
.player .main .details h2 {
	font-size: 18px;
	color: plum;
	margin-bottom: 5px;
}
.player .main .details p {
	font-size: 25px;
	color: purple;
}
.player .main .controls {
	display: flex;
	justify-content: center;
	margin:8px 0px;
}
.player .main .controls > div {
	margin:0px 30px;
	cursor: pointer;
}
.player .main .controls i.fa {
	font-size:25px;
	color: plum;
}
.player .main .controls > div.play-pause-control i.fa-play {
	display: none;
}
.player .main .controls > div.play-pause-control.paused i.fa-play {
	display: block;
}
.player .main .controls > div.play-pause-control.paused i.fa-pause {
	display: none;
}
.player .player-list {
	position: absolute;
	width: 100%;
	margin-top:-20px;
	height: 350px;
	overflow-y: scroll;
	background: rgba(0,0,0,0.9);
	z-index:2;
	transition:all 250ms ease-in-out;
}
.player .player-list .toggle-list {
	position: sticky;
	top:0px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: plum;
}
.player .player-list .toggle-list i.fa {
	color: purple;
	font-size: 25px;
	font-weight: 600;
}
.player .player-list .toggle-list i.fa-angle-down {
	display: none;
}
.player .player-list .toggle-list.active i.fa-angle-up {
	display: block;
}
.player .player-list .toggle-list.active i.fa-angle-down {
	display: none;
}
.player .list {
	padding: 10px;
}
.player .list .item {
	display: flex;
	padding: 5px 0px;
	border-bottom: 1px solid #222;
	cursor: pointer;
}
.player .list .item .thumbnail {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.player .list .thumbnail img {
	width: 100%;
	height: 100%;
}
.player .list .item .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
}
.player .list .item .details h2 {
	color: #eee;
	font-size: 16px;
}
.player .list .item .details p {
	color: #aaa;
	font-size: 15px;
}
.player .player-list::-webkit-scrollbar {
	width: 2px;
	background: #222;
}
.player .player-list::-webkit-scrollbar-thumb {
	background: plum;
}
.player.activeSongList .player-list {
	margin-top: -350px;
}
.player.activeSongList .main {
	filter:blur(5px);
}