* {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: grid;
    gap: 2vh;
    padding: 1vh;
    grid-auto-flow: dense;
    font-size: 2vh;
    color: white;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    grid-auto-rows: minmax(4vh, auto);
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
	background: url(img/fondo-ul.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
}

body::before{
	content:"";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(135deg,navy,lightblue,navy,purple,pink,purple);
	opacity: 0.9;
	z-index: -1;
}

.titulo {
    font-size: 3vh;
    text-align: center;
    color: white;
    padding: 1vh;
    margin: 1vh;
    background-color: rgba(0, 0, 0, 0.2);

}

.grid-items{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    padding: 0vh;
    background-color: rgba(0, 0, 0, 0.2);
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}
/*Orientacion Horizontal*/

@media (orientation: landscape) {
    .grid-container {
        font-size: 4vh;
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
        grid-auto-rows: minmax(7vh, auto);
    }

    .titulo {
        font-size: 5vh;
    }
}


